/* Reset some basic styles */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: Arial, sans-serif;
  background-color: rgb(17, 24, 40);
  color: #333;
}

.login-container {
  width: 100%;
  max-width: 400px;
  padding: 2rem;
  background-color: #202938;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: center;
}

h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #66a845;
}

.input-group {
  margin-bottom: 1.5rem;
  position: relative;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
  color: #fff;
}

#username, #password{
    background-color: #4a5a6a; 
    color: white
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}

.toggle-password {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
}

.toggle-password:focus {
  outline: none;
}

.login-button {
  width: 100%;
  padding: 0.75rem;
  background-color: #3a755c;
  color: #fff;
  font-size: 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-button:hover {
  background-color: #66a845;
}

.footer-text {
  margin-top: 1.5rem;
  font-size: 0.9rem;
  color: #819eb3;
}

.footer-text a {
  color: #819eb3;
  text-decoration: none;
  font-weight: bold;
}

.footer-text a:hover {
  text-decoration: underline;
}

.footer {
    text-align: center;
    padding: 20px;
    color: #798fb1;
    font-size: 14px;
    background-color: #202938;
    position: fixed;
    width: 100%;
    bottom: 0;
  }

.footer a {
    color: #798fb1;
    text-decoration: none;
  }

.footer a:hover {
    text-decoration: underline;
  }

/* Responsive design */
@media (max-width: 400px) {
  .login-container {
    padding: 1.5rem;
  }
  .footer {
    font-size: 12px;
    padding: 15px; 
  }
}
